*{
    margin: 0;
    padding: 0;
}

@font-face {
    src: url("../fonts/bebas-neue/BebasNeue-Regular.ttf");
    font-family: bebas;
  }

@font-face {
    src: url("../fonts/radio-space/radiospacebold.ttf");
    font-family: radiobold;
  }

  @font-face {
    src: url("../fonts/radio-space/radiospaceexpand.ttf");
    font-family: radioexpand;
  }

body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url("../media/images/texture.jpg");
}

#mark{
  color: ghostwhite;
  font-family: bebas;
  margin-top: 20px;
  animation: slide 20s infinite;
}

#swirl{
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 140px;
    left: 470px;
    animation: rotate 30s infinite;
}

#title{
    padding-top: 30px;
    color: ghostwhite;
    height: 100vh;
    font-family: radioexpand;
    font-size: 60px;
}

#secret{
    color: ghostwhite;
    position: absolute;
    bottom: 35px;
    display: block;
    text-align: center;
    width: 100%;
    font-family: bebas;
    font-size: 25px;
}

#change-bg-color{
    color: brown;
    margin-top: 3%;
}


@keyframes rotate{
  0%{
    transform: rotate(0deg)
  }
  50%{
    transform: rotate(360deg)
  }
  100%{
    transform: rotate(0deg)
  }
}

@keyframes slide{
  0%{
    margin-left: 900px;
  }
  100%{
    margin-right: 1000px;
  }
}